{% load static %}
      <!-- choose  section -->
      <div class="choose ">
         <div class="container">
            <div class="row">
               <div class="col-md-8">
                  <div class="titlepage">
                     <h2>Türkiyeyi Neden Gezmeliyiz ?</h2>
                     <p>Türkiye'de turizm, ülke ekonomisi için önemli bir sektördür. Turizm gelirlerinin ihracata oranı %16,7'dir.Ülkedeki turizm faaliyetleri Türkiye Cumhuriyeti Kültür ve Turizm Bakanlığı'nın sorumluluk alanındadır. Türkiye'de ülkenin tarihini ve kültürünü yansıtan pek çok turistik yer mevcut olup ayrıca Akdeniz ve Ege Denizi'nin kıyısında turistik aktiviteler yapılmaktadır.

Türkiye'nin en büyük şehri olan İstanbul, Bizans ve Osmanlı İmparatorluğu'nun başkenti olması dolayısıyla da antik döneme sahip birçok yapıyı barındırmaktadır.Bu nedenle Türkiye gezilmek için en uygun ülkeler konumundadır </p>
                  </div>
               </div>
            </div>
         </div>
         <div class="container-fluid">
            <div class="row d_flex">
               <div class="col-xl-7 col-lg-7 col-md-12 col-sm-12">
                  <div class="padding_with">
                     <div class="row">
                        <div class="col-md-6 padding_bottom">
                           <div class="choose_box">
                              <i><img src="{% static 'images/icon1.png'%}" alt="#"/></i>
                              <div class="choose_text">
                                 <h3>Doğa güzellikleri</h3>
                                 <p>Kapadokya,Trabzon-Uzungöl,Uludağ,Nemrut Dağı vb. gibi doğa güzellikler</p>
                              </div>
                           </div>
                        </div>
                        <div class="col-md-6 padding_bottom">
                           <div class="choose_box">
                              <i><img src="{% static 'images/icon2.png'%}" alt="#"/></i>
                              <div class="choose_text">
                                 <h3>Tarihi mimariler</h3>
                                 <p>Sultanahmet,Topkapı S.,Ayasofya,Kuşkonmaz Camii vb. gibi tarihi mimariler</p>
                              </div>
                           </div>
                        </div>
                        <div class="col-md-6 padding_bottom2">
                           <div class="choose_box">
                              <i><img src="{% static 'images/icon3.png'%}" alt="#"/></i>
                              <div class="choose_text">
                                 <h3>Zengin bitki örtüsü</h3>
                                 <p>Her türden meyve ve sebze ülkenin dört bir yanında yetişmektedir.</p>
                              </div>
                           </div>
                        </div>
                        <div class="col-md-6">
                           <div class="choose_box">
                              <i><img src="{% static 'images/icon4.png'%}" alt="#"/></i>
                              <div class="choose_text">
                                 <h3>Geleneksek Yemekler</h3>
                                 <p>Baklava,patlıcan kebabı,dolma,sarma vb. gibi geleneksel yemekler</p>
                              </div>
                           </div>
                        </div>
                     </div>
                  </div>
               </div>
               <div class="col-xl-5 col-lg-5 col-md-12 col-sm-12">
                  <div class="choose_img">
                     <figure><img src="{% static 'images/turkmap.jpg'%}" alt="#"/></figure>
                  </div>
               </div>
            </div>
         </div>
         <div class="container">
            <div class="row">
               <div class="col-md-5">
                  <a class="read_more" href="#">En Üste Git</a>
               </div>
            </div>
         </div>
      </div>
      </div>
      <!-- end choose  section -->
      <!-- product  section -->
      <div class="product">
         <div class="container">
            <div class="row">
               <div class="col-md-6">
                  <div class="titlepage">
                     <h2>BÖLGESEL OLARAK AYRILMIŞ TURİSTİK MEKANLAR</h2>
                  </div>
               </div>
            </div>
         </div>
         <div class="container-fluid">
            <div class="row">
               <div class="col-xl-6 col-lg-6 col-md-6 col-sm-12 padding_left0">
                  <div class="product_box">
                     <figure><img src="{% static 'images/akdeniz.jpg'%}" alt="#"/></figure>
                     <h3>AKDENİZ</h3>
                  </div>
               </div>
               <div class="col-xl-3 col-lg-3 col-md-3 col-sm-12">
                  <div class="product_box">
                     <figure><img src="{% static 'images/karadeniz.jpg'%}" alt="#"/></figure>
                     <h3 >KARADENİZ</h3>
                  </div>
               </div>
               <div class="col-xl-3 col-lg-3 col-md-3 col-sm-12 padding_right0">
                  <div class="product_box">
                     <figure><img src="{% static 'images/ege.jpg'%}" alt="#"/></figure>
                     <h3>EGE</h3>
                  </div>
               </div>
               <div class="col-xl-7 col-lg-7 col-md-7 col-sm-12 padding_left0">
                  <div class="product_box">
                     <figure><img src="{% static 'images/marmara.jpg'%}" alt="#"/></figure>
                     <h3>MARMARA</h3>
                  </div>
               </div>
               <div class="col-xl-5 col-lg-5 col-md-5 col-sm-12 padding_right0">
                  <div class="product_box">
                     <figure><img src="{% static 'images/icanadolu.jpg'%}" alt="#"/></figure>
                     <h3>İÇ ANADOLU</h3>
                  </div>
               </div>
            </div>
         </div>
      </div>
      <!-- end product  section -->
        <!-- hottest -->
      <div  class="hottest">
         <div class="container">
            <div class="row d_flex">
               <div class="col-md-5">
                  <div class="titlepage">
                     <h2>Hakkımızda</h2>
                  </div>
               </div>
               <div class="col-md-7">
                  <div class="hottest_box">
                     <h2>Ülkemiz, 81 şehrinin her biriyle gezilecek birçok yer sunuyor. Her bir bölgemizin ve şehrimizin kendine ait güzellikleri, gelenekleri, kültürleri ve mutfakları mevcut. Nereye gidersen git doğal güzelliklerine hayran kalacağın ya da tarihi bir gezi yapabileceğin bir yer bulabilirsin. Ee durum böyle olunca Türkiye’de gezilecek yerler listesi yapmak oldukça zorlaşıyor. Nereyi yazsan ötekinin hatırı kalıyor ya da şurayı yazmayı nasıl unuturum diye düşünüyorsun.</h2>
                  </div>
               </div>
            </div>
         </div>
      </div>
      </div>
      </div>
      <!-- end hottest -->
<br><br><hr>
      <!-- about -->
      <div class="about">
         <div class="container">
            <div class="row">
               <div class="col-md-12">
                  <div class="titlepage">
                     <h2>İnsanların Turistik Mekanlar Hakkında Dedikleri</h2>
                  </div>
               </div>
            </div>
            <div class="row">
               <div class="col-md-12">
                  <div id="myCarousel" class="carousel slide about_Carousel " data-ride="carousel">
                     <ol class="carousel-indicators">
                        <li data-target="#myCarousel" data-slide-to="0" class="active"></li>
                        <li data-target="#myCarousel" data-slide-to="1"></li>
                        <li data-target="#myCarousel" data-slide-to="2"></li>
                     </ol>
                     <div class="carousel-inner">
                        <div class="carousel-item active">
                           <div class="container">
                              <div class="carousel-caption ">
                                 <div class="row">
                                    <div class="col-md-12">
                                       <div class="test_box">
                                          <i><img src="{% static 'images/tes1.png'%}" alt="#"/></i>
                                          <h4>RAŞİT ANTİKA</h4>
                                           <p>Türkiye çok güzel bir ülkedir.Bitki örtüsüyle,mimarisiyle,geleneksel yemekleri ve Gaziantep şehri ile gönüllere taht kurmuştur.Bunun dışında gezilecek birçok yer vardır İstabulda Dolmabahçe Sarayı,Topkapı Sarayı,Yerebatan Sarnıcı ve Galata Kulesi gibi birçok yer vardır.Ama benim Türkiyede en çok sevdiğim şehir Kocaelidir.Çünkü sakin ve gelişmiş bir şehir İstanbula yakınlığıyla da avantajlıdır.</p>
                                       </div>
                                    </div>
                                 </div>
                              </div>
                           </div>
                        </div>
                        <div class="carousel-item">
                           <div class="container">
                              <div class="carousel-caption">
                                 <div class="row">
                                    <div class="col-md-12">
                                       <div class="test_box">
                                          <i><img src="{% static 'images/tes1.png'%}" alt="#"/></i>
                                          <h4>CEMAL KÜMÜŞTEKİN </h4>
                                          <p>It is a long established fact that a reader will be distracted by the readable content of a page when looking at its layout. The point of using Lorem Ipsum is that it has a more-or-less normal distribution of letters,It is a long established fact that a reader will be distracted by the readable content of a page when looking at its layout. The point of using Lorem Ipsum is that it has a more-or-less normal distribution of letters,It is a long established fact that a reader will be distracted by the readable content of a page when looking at its layout. The point of using Lorem Ipsum is that it has a more-or-less normal distribution of letters,</p>
                                       </div>
                                    </div>
                                 </div>
                              </div>
                           </div>
                        </div>
                        <div class="carousel-item">
                           <div class="container">
                              <div class="carousel-caption">
                                 <div class="row">
                                    <div class="col-md-12">
                                       <div class="test_box">
                                          <i><img src="{% static 'images/tes1.png'%}" alt="#"/></i>
                                          <h4>MUHAMMET EMİN KORKMAZ</h4>
                                          <p>It is a long established fact that a reader will be distracted by the readable content of a page when looking at its layout. The point of using Lorem Ipsum is that it has a more-or-less normal distribution of letters,It is a long established fact that a reader will be distracted by the readable content of a page when looking at its layout. The point of using Lorem Ipsum is that it has a more-or-less normal distribution of letters,It is a long established fact that a reader will be distracted by the readable content of a page when looking at its layout. The point of using Lorem Ipsum is that it has a more-or-less normal distribution of letters,</p>
                                       </div>
                                    </div>
                                 </div>
                              </div>
                           </div>
                        </div>
                     </div>
                     <a class="carousel-control-prev" href="#myCarousel" role="button" data-slide="prev">
                     <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                     <span class="sr-only">Previous</span>
                     </a>
                     <a class="carousel-control-next" href="#myCarousel" role="button" data-slide="next">
                     <span class="carousel-control-next-icon" aria-hidden="true"></span>
                     <span class="sr-only">Next</span>
                     </a>
                  </div>
               </div>
            </div>
         </div>
      </div>
      <!-- end about -->