{% load static %}
<!--  footer -->

      <footer id="contact">
         <div class="footer">
            <div class="container">
               <div class="row">

                  <div class="col-md-4">
                     <div class="titlepage">
                        <h2>Bize Ulaşın</h2>
                     </div>
                  </div>

                  <div class="col-md-12">
                     <form id="request" class="main_form" method="post" action="">
                       {% if message %}
                                {% for message in messages %}
                                <div class="alert alert-{{ message.tags }}" role="alert">
                                {{ message }}
                                </div>
                                {% endfor %}
                       {% endif %}

                    <form action =""method="post">
                        {% csrf_token %}
                        {{ form.as_p }}
                        <input type="submit" value="GÖNDER">
                    </form>
                        <!-- <div class="row">

                           <div class="col-md-3 ">

                              <input class="contactus" placeholder="Ad" type="text" name="Full Name">
                           </div>
                           <div class="col-md-3">
                              <input class="contactus" placeholder="Email" type="email" name="Email">
                           </div>
                           <div class="col-md-3">
                              <input class="contactus" placeholder="Telefon Numarası" type="text" name="Phone Number">
                           </div>
                           <div class="col-xl-3 col-lg-3 col-md-3 col-sm-12">
                              <ul class="social_icon">
                                 <li><a href="#"><i class="fa fa-facebook" aria-hidden="true"></i></a></li>
                                 <li><a href="#"><i class="fa fa-twitter" aria-hidden="true"></i></a></li>
                                 <li><a href="#"><i class="fa fa-linkedin-square" aria-hidden="true"></i></a></li>
                                 <li><a href="#"><i class="fa fa-instagram" aria-hidden="true"></i></a></li>
                              </ul>
                           </div>
                           <div class="col-md-8">
                              <textarea class="contactus1" placeholder="Mesaj" type="type" Message="Name">Mesaj </textarea>
                           </div>
                           <div class="col-xl-4 col-lg-4 col-md-4 col-sm-12">
                              <button class="send_btn">Gönder</button>
                           </div>
                        </div>
                     </form>
                                -->
                  </div>
                  <div class="col-md-3 border_right">
                     <ul class="location_icon">
                        <li><a href="https://www.google.com/maps/place/Serdivan%2FSakarya/data=!4m2!3m1!1s0x14ccad1b5f163f3d:0xfde55d9e67a6865c?sa=X&ved=2ahUKEwj-yezxx5T8AhX2SvEDHaYCDdkQ8gF6BAgSEAE"><i class="fa fa-map-marker" aria-hidden="true"></i></a>Sakarya ,Serdivan</li>
                        <li><a href="#"><i class="fa fa-volume-control-phone" aria-hidden="true"></i></a> +90553 9*9 5**3</li>
                        <li><a href="https://www.subu.edu.tr/tr"><i class="fa fa-envelope" aria-hidden="true"></i></a>b210109053@subu.edu.tr</li>
                     </ul>
                  </div>
                  <div>

                  </div>
                  <div class="col-md-3 border_right">
                     <h3>Menü</h3>
                     <ul class="link">
<li><a href="/home">ANASAYFA</a></li>
<li><a href="/hakkimizda">HAKKIMIZDA</a></li>
<li><a href="/turistikmekan">TURİSTİK MEKANLAR</a></li>
<li><a href="/about">BLOG</a></li>
<li><a href="/iletisim">İLETİŞİM</a></li>
                     </ul>
                  </div>
                  <div class="col-md-3">
                     <form class="bottom_form">
                        <h3>Soru</h3>
                        <input class="enter" placeholder="Sorunu gir" type="text" name="Sorunu gir">
                        <button class="sub_btn">Sorunu Gönder</button>
                     </form>
                  </div>
               </div>
            </div>
            <div class="copyright">
               <div class="container">
                  <div class="row">
                     <div class="col-md-12">
                        <p>Emircan Şahan tarafından 2022 de kuruldu <a href="/home"> Programlama 2 ÖDEV</a></p>
                     </div>
                  </div>
               </div>
            </div>
         </div>
      </footer>
      <!-- end footer -->
      <!-- Javascript files-->
      <script src="{% static 'js/jquery.min.js'%}"></script>
      <script src="{% static 'js/popper.min.js'%}"></script>
      <script src="{% static 'js/bootstrap.bundle.min.js'%}"></script>
      <script src="{% static 'js/jquery-3.0.0.min.js'%}"></script>
      <!-- sidebar -->
      <script src="{% static 'js/jquery.mCustomScrollbar.concat.min.js'%}"></script>
      <script src="{% static 'js/custom.js'%}"></script>