<!DOCTYPE html>
<html lang="en">
<head>
    <!-- basic -->
      <meta charset="utf-8">
      <meta http-equiv="X-UA-Compatible" content="IE=edge">
      <!-- mobile metas -->
      <meta name="viewport" content="width=device-width, initial-scale=1">
      <meta name="viewport" content="initial-scale=1, maximum-scale=1">
      <!-- site metas -->
      <title>{% block title %} DJANGO Fotograf Paylasma Sitesi{% endblock %}</title>
      <meta name="keywords" content="{% block keywords %} Anasayfa anahtar kelimeler {% endblock %}">
      <meta name="description" content="{% block decription %} Anasayfa kısa açıklama {% endblock %}">
      <meta name="author" content="{% block author %} Anasayfa author {% endblock %}">
      <!-- site icons -->
      {% load static %}
      <link rel="icon" href="{% static 'img/fevicon.png' %}" type="image/png" />
      <!-- bootstrap css -->
      <link rel="stylesheet" href="{% static 'css/bootstrap.min.css' %}" />
      <!-- site css -->
      <link rel="stylesheet" href="{% static 'css/style.css' %}" />
      <!-- responsive css -->
      <link rel="stylesheet" href="{% static 'css/responsive.css' %}" />
      <!-- colors css -->
      <link rel="stylesheet" href="{% static 'css/colors.css' %}" />
      <!-- custom css -->
      <link rel="stylesheet" href="{% static 'css/custom.css' %}" />
      <!-- wow animation css -->
      <link rel="stylesheet" href="{% static 'css/animate.css' %}" />
      <!-- Revolution Loaling Fonts and Icons  -->
      <link rel="stylesheet" href="{% static 'js/revolution/fonts/pe-icon-7-stroke/css/pe-icon-7-stroke.css' %}">
      <!-- Revolution style Sheets  -->
      <link rel="stylesheet" href="{% static 'js/revolution/css/settings.css' %}">
      <link rel="stylesheet" href="{% static 'js/revolution/css/layers.css' %}">
      <link rel="stylesheet" href="{% static 'js/revolution/css/navigation.css' %}">
      <!-- owl stylesheets -->
      <link rel="stylesheet" href="{% static 'css/owl.carousel.min.css' %}">
      <link rel="stylesheet" href="{% static 'css/owl.theme.default.css' %}">
      <!--[if lt IE 9]>
      <script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
      <script src="https://oss.maxcdn.com/libs/respond.js/1.4.2/respond.min.js"></script>
      <![endif]-->
      {% block head %}  {% endblock %}
</head>
<header class="header">
         <div class="header_top">
            <div class="container">
               <div class="row">
                  <div class="col-md-4">
                     <div class="full">
                         <!--<span class="toggle_icon" style="cursor:pointer" onclick="openNav()"><img src="{% static 'img/menu_icon.png' %}" alt="#" /></span>-->
                        <div class="logo_circle">
                           <a href="/"><img class="img-responsive" src="{% static 'img/Millenium_Logo_2020.png' %}"width="150" height="80" alt="#" /></a>
                        </div>
                     </div>
                  </div>
                  <div class="col-md-8">
                     <div class="float-right">
                        <ul class="top_links">
                           <li><a href="#"><img src="{% static 'images/profile_icon.png' %}" alt="#" /></a></li>
                           <li class="searchbar">
                              <input class="search_input" type="text" name="" placeholder="Search...">
                              <a href="#" class="search_icon"><img src="{% static 'images/search_icon.png' %}" alt="#" /></a>
                           </li>
                        </ul>
                     </div>
                  </div>
               </div>
            </div>
         </div>
      </header>
<br><br>
    {% load static %}
      <!-- section -->
      <section class="layout_padding">
         <div class="container">
            <div class="row">
               <div class="col-md-12">
                  <div class="full heading_s1">
                     <h3>Geri Dönüş Sağlayın</h3>
                     <p>Sitemizde neleri iyileştirebiliriz?</p>
                  </div>
                    {% if message %}
                            {% for message in messages %}
                            <div class="alert alert-{{ message.tags }}" role="alert">
                             {{ message }}
                            </div>
                            {% endfor %}
                    {% endif %}
                    <form action =""method="post">
                        {% csrf_token %}
                        {{ form.as_p }}
                        <input type="submit" value="SEND FORM">
                    </form>
               </div>
            </div>
            <div class="row">
               <div class="col-md-6">
                  <form action="#">

                     <fieldset>
                        <div class="row">
                           <div class="col-sm-12">
                              <div class="full fieldset_blog">
                                 <input type="text" placeholder="Adınız" name="name" />
                              </div>
                              <div class="full fieldset_blog">
                                 <input type="text" placeholder="Telefon numaranız" name="number" />
                              </div>
                              <div class="full fieldset_blog">
                                 <input type="email" placeholder="e-mail" name="email" />
                              </div>
                              <div class="full fieldset_blog">
                                 <textarea placeholder="Mesaj"></textarea>
                              </div>

                              <div class="full fieldset_blog center">
                              </div>
                           </div>
                        </div>
                     </fieldset>


                  </form>
               </div>
               <div class="col-md-6 p-relative">
                  <div class="full back_blog">
                     <img class="img-responsive" src="{% static 'images/cllbck.jpg' %}" alt="#" />
                  </div>
               </div>
            </div>
         </div>
      </section>
      <!-- end section -->

	<!-- section -->
	<div class="section">
		<!-- container -->
		<div class="container">
			<!-- row -->
			<div class="row">
                {{ setting.contact|safe }}
			</div>
			<!-- /row -->
		</div>
		<!-- /container -->
	</div>
	<!-- /section -->

    {% include 'footer.html' %}
    {% block foot %}  {% endblock %}
<body></body>
</html>