{% load static %}
<!-- banner -->
      <section class="banner_main">
         <div class="container">
            <div class="row">
               <div class="col-md-12 ">
                  <div class="text-bg">
                     <h1>Turistik Mekanlar <br> ana sayfa</h1>
                     <h2 style="color:white"><strong>Dünyaya açılmadan önce ülkemizdeki güzellikleri keşfetmeye ne dersiniz? Tarih boyunca pek çok farklı medeniyete ev sahipliği yapan, coğrafi konumuyla dünyanın en önemli geçiş güzergahlarından biri olan Anadolu toprakları, bu birikimin izlerini taşıyor. Türkiye'de görülmesi gereken birçok güzel yer bulunuyor. İşte doğudan batıya, kuzeyden güneye Türkiye'de görülmesi gereken yerler</strong></h2>
                     <a href="/admin/product/images/add/">Fotoğraf Yükle</a>
                  </div>
               </div>
            </div>
         </div>
      </section>
      <!-- end banner -->


