{% load static %}
<!-- banner -->
      <section class="banner_main">
         <div class="container">
            <div class="row">
               <div class="col-md-12 ">
                  <div class="text-bg">
                     <h1>TURİSTİK MEKANLAR</h1>
                     <a href="/admin/product/images/add/">Fotoğraf Yükle</a>
                  </div>
               </div>
            </div>
         </div>
      </section>
      <!-- end banner -->

      <!-- three_box -->

      <div class="three_box">
         <div class="container">
            <div class="row">

               <div class="col-md-4">
                  <div class="box_text">
                     <figure><img src="{% static 'images/amasra.jpg'%}" alt="#"/></figure>
                  </div>
               </div>


               <div class="col-md-4">
                  <div class="box_text">
                     <figure><img src="{% static 'images/ayasofya.jpg'%}" alt="#"/></figure>
                  </div>
               </div>


               <div class="col-md-4">
                  <div class="box_text">
                     <figure><img src="{% static 'images/eskisehir.jpg'%}" alt="#"/></figure>
                  </div>
               </div>

            </div>
         </div>
      </div>
<!-- three_box -->
    <div>
    <div>
        <br><br><br><br><br><br><br><br>
    </div>
    </div>
<!-- three_box -->

      <div class="three_box">
         <div class="container">
            <div class="row">

               <div class="col-md-4">
                  <div class="box_text">
                     <figure><img src="{% static 'images/gaziantep.jpg'%}" alt="#"/></figure>
                  </div>
               </div>


               <div class="col-md-4">
                  <div class="box_text">
                     <figure><img src="{% static 'images/dolmabahce.jpg' %}" alt="#"/></figure>
                  </div>
               </div>


               <div class="col-md-4">
                  <div class="box_text">
                     <figure><img src="{% static 'images/at.jpg'%}" alt="#"/></figure>
                  </div>
               </div>

            </div>
         </div>
      </div>
      <!-- three_box -->
    <div>
    <div>
        <br><br><br><br><br><br><br><br>
    </div>
    </div>
<!-- three_box -->

      <div class="three_box">
         <div class="container">
            <div class="row">

               <div class="col-md-4">
                  <div class="box_text">
                     <figure><img src="{% static 'images/sapanca.jpg'%}" alt="#"/></figure>
                  </div>
               </div>


               <div class="col-md-4">
                  <div class="box_text">
                     <figure><img src="{% static 'images/kapadokya.jpg'%}" alt="#"/></figure>
                  </div>
               </div>


               <div class="col-md-4">
                  <div class="box_text">
                     <figure><img src="{% static 'images/yerebatan.jpg'%}" alt="#"/></figure>
                  </div>
               </div>

            </div>
         </div>
      </div>
      <!-- three_box -->
<br><br>
<!-- product  section -->
      <div class="product">
         <div class="container">
            <div class="row">
               <div class="col-md-6">
                  <div class="titlepage">
                     <h2>BÖLGESEL OLARAK AYRILMIŞ TURİSTİK MEKANLAR</h2>
                  </div>
               </div>
            </div>
         </div>
         <div class="container-fluid">
            <div class="row">
               <div class="col-xl-6 col-lg-6 col-md-6 col-sm-12 padding_left0">
                  <div class="product_box">
                     <figure><img src="{% static 'images/akdeniz.jpg'%}" alt="#"/></figure>
                     <h3>AKDENİZ</h3>
                  </div>
               </div>
               <div class="col-xl-3 col-lg-3 col-md-3 col-sm-12">
                  <div class="product_box">
                     <figure><img src="{% static 'images/karadeniz.jpg'%}" alt="#"/></figure>
                     <h3 >KARADENİZ</h3>
                  </div>
               </div>
               <div class="col-xl-3 col-lg-3 col-md-3 col-sm-12 padding_right0">
                  <div class="product_box">
                     <figure><img src="{% static 'images/ege.jpg'%}" alt="#"/></figure>
                     <h3>EGE</h3>
                  </div>
               </div>
               <div class="col-xl-7 col-lg-7 col-md-7 col-sm-12 padding_left0">
                  <div class="product_box">
                     <figure><img src="{% static 'images/marmara.jpg'%}" alt="#"/></figure>
                     <h3>MARMARA </h3>
                  </div>
               </div>
               <div class="col-xl-5 col-lg-5 col-md-5 col-sm-12 padding_right0">
                  <div class="product_box">
                     <figure><img src="{% static 'images/icanadolu.jpg'%}" alt="#"/></figure>
                     <h3>İÇ ANADOLU</h3>
                  </div>
               </div>
            </div>
         </div>
      </div>
      <!-- end product  section -->

